{% extends 'base.html' %}

{% block content %}
<div class="foot">
    <button class="btn-category">
        <i class="bi bi-list"></i> Katagoriler
    </button>
</div>
<div class="list-mark">
    <img src="/pictures/mark.png" alt="hata resim dosyası yok" srcset="" />
</div>
</header>
<aside>
    <div class="check">
        <button class="btn-check checked">İlan</button>
        <button class="btn-check">Alışveriş</button>
    </div>
</aside>
<article id="son model ürünler burada/ilan sitesi/ilanım/trendyol.com ">
    <div class="products-container">
        <div class="product">
            <div class="product-picture">
                <img src="pictures/airpods-pro-2-hero-select-202409_FV1_FMT_WHH.jpg" alt="" srcset="" width="190px"
                    height="200px" />
            </div>

            <div class="product-info">
                <span class="product-text">Apple Airpods Pro</span>
                <span class="product-price">100tl</span>
            </div>
            <button class="btn-buy">Satın Al</button>
        </div>
        <div class="product">
            <div class="product-picture">
                <img src="pictures/airpods-pro-2-hero-select-202409_FV1_FMT_WHH.jpg" alt="" srcset="" width="190px"
                    height="200px" />
            </div>

            <div class="product-info">
                <span class="product-text">Apple Airpods Pro</span>
                <span class="product-price">100tl</span>
            </div>
            <button class="btn-buy">Satın Al</button>
        </div>
        <div class="product">
            <div class="product-picture">
                <img src="pictures/airpods-pro-2-hero-select-202409_FV1_FMT_WHH.jpg" alt="" srcset="" width="190px"
                    height="200px" />
            </div>

            <div class="product-info">
                <span class="product-text">Apple Airpods Pro</span>
                <span class="product-price">100tl</span>
            </div>
            <button class="btn-buy">Satın Al</button>
        </div>
        <div class="product">
            <div class="product-picture">
                <img src="pictures/airpods-pro-2-hero-select-202409_FV1_FMT_WHH.jpg" alt="" srcset="" width="190px"
                    height="200px" />
            </div>

            <div class="product-info">
                <span class="product-text">Apple Airpods Pro</span>
                <span class="product-price">100tl</span>
            </div>
            <button class="btn-buy">Satın Al</button>
        </div>
        <div class="product">
            <div class="product-picture">
                <img src="pictures/airpods-pro-2-hero-select-202409_FV1_FMT_WHH.jpg" alt="" srcset="" width="190px"
                    height="200px" />
            </div>

            <div class="product-info">
                <span class="product-text">Apple Airpods Pro</span>
                <span class="product-price">100tl</span>
            </div>
            <button class="btn-buy">Satın Al</button>
        </div>
        <div class="product">
            <div class="product-picture">
                <img src="pictures/airpods-pro-2-hero-select-202409_FV1_FMT_WHH.jpg" alt="" srcset="" width="190px"
                    height="200px" />
            </div>

            <div class="product-info">
                <span class="product-text">Apple Airpods Pro</span>
                <span class="product-price">100tl</span>
            </div>
            <button class="btn-buy">Satın Al</button>
        </div>
        <div class="product">
            <div class="product-picture">
                <img src="pictures/airpods-pro-2-hero-select-202409_FV1_FMT_WHH.jpg" alt="" srcset="" width="190px"
                    height="200px" />
            </div>

            <div class="product-info">
                <span class="product-text">Apple Airpods Pro</span>
                <span class="product-price">100tl</span>
            </div>
            <button class="btn-buy">Satın Al</button>
        </div>
        <div class="product">
            <div class="product-picture">
                <img src="pictures/airpods-pro-2-hero-select-202409_FV1_FMT_WHH.jpg" alt="" srcset="" width="190px"
                    height="200px" />
            </div>

            <div class="product-info">
                <span class="product-text">Apple Airpods Pro</span>
                <span class="product-price">100tl</span>
            </div>
            <button class="btn-buy">Satın Al</button>
        </div>
        <div class="product">
            <div class="product-picture">
                <img src="pictures/airpods-pro-2-hero-select-202409_FV1_FMT_WHH.jpg" alt="" srcset="" width="190px"
                    height="200px" />
            </div>

            <div class="product-info">
                <span class="product-text">Apple Airpods Pro</span>
                <span class="product-price">100tl</span>
            </div>
            <button class="btn-buy">Satın Al</button>
        </div>
        <div class="product">
            <div class="product-picture">
                <img src="pictures/airpods-pro-2-hero-select-202409_FV1_FMT_WHH.jpg" alt="" srcset="" width="190px"
                    height="200px" />
            </div>

            <div class="product-info">
                <span class="product-text">Apple Airpods Pro</span>
                <span class="product-price">100tl</span>
            </div>
            <button class="btn-buy">Satın Al</button>
        </div>
        <button class="btn-check">Daha Fazlasını Göster</button>
    </div>
</article>
{% endblock %}